:root {
	--primary: #ffce00;
	--primaryBtn: #ffee00d0;
	--secondary: #fe4880;
	--secondaryBtn: #fe48cdba;
	--dark: #370327;
	--light: #f3f3f3;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 80px 0;
}

.game-title {
	font-size: 42px;
	font-weight: 500;
	color: var(--dark);
	text-align: center;
	margin-bottom: 20px;
}

.game-grid {
	width: 600px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.card {
	width: 100px;
	height: 100px;
	perspective: 300px;
	margin: 0 auto;
	transition: all 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
	position: relative;
}

.card.is-flipped,
.card.matched {
	transform: rotateY(180deg);
}

.card.blocked,
.card.matched {
	pointer-events: none;
}

.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__face--front {
	background-image: linear-gradient(
		to bottom right,
		var(--primary),
		var(--secondary)
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__face--back {
	background-color: var(--light);
	transform: rotateY(180deg);
}

.card__face--back img {
	width: 60%;
	height: 60%;
}

.reset-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: var(--dark);
	padding: 10px 20px;
	border-radius: 6px;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(var(--primary), var(--secondary)),
		linear-gradient(var(--primary), var(--secondary));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
	transition: all 0.7s;
}

.reset-btn:hover {
	box-shadow: none;
	color: #f3f3f3;
}

@media (max-width: 660px) {
	.container {
		margin: 70px 0;
	}
	.game-grid {
		width: 500px;
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 540px) {
	.container {
		margin: 50px 0;
	}
	.game-grid {
		width: 380px;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 80px;
	}
	.card {
		width: 80px;
		height: 80px;
		perspective: 100px;
	}
}
@media (max-width: 420px) {
	.container {
		margin: 40px 0;
	}
	.game-grid {
		width: 340px;
		grid-auto-rows: 70px;
		grid-gap: 15px;
	}
	.card {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 340px) {
	.game-title {
		font-size: 26px;
	}
	.game-grid {
		width: 260px;
		grid-auto-rows: 50px;
		grid-gap: 10px;
	}
	.card {
		width: 50px;
		height: 50px;
	}
}
